body{
    margin-top: 50px;
    margin-left: 20px;
    background-color: #0d0e0a;
}
table,th,tr,td{
    background-color: aquamarine;
   border : 1px solid ;
   border-collapse: collapse;
}
label,input{
    background-color: aquamarine;
    padding: 0px !important;
    margin:10px !important;
}
input{
    margin-bottom: 4px !important;
}
h3{
    text-align: center;
}
td{
   
    padding:6px 10px;
}
th{
    text-align: center;
}